@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
/* border: 1px solid blueviolet; */
}
body{
    font-family: 'Varela Round', sans-serif;
    user-select: none;
}
i{
    cursor: pointer;
}
header{
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(8,35,138,1) 100%, rgba(0,212,255,1) 100%);
}
#logo{
    position: relative;
    top: 10px;
    left: 20px;
    height: 50px;
}
#spotifytitle{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: -5px;
    left: 20px;
    color: white;
    font-size: 38px;
    line-height: 46px;
    
}
.headercoverdiv{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headercoverdiv img{
    height: 220px;
    /* width: 200px; */
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headercoverdetailsdiv{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.headercoverdetailsdiv span{
 color: white;
 font-size: 20px;
}
.songcontainerdiv{
    height: 770px;
    background-image: linear-gradient(to bottom, #16171a, #171a1c, #191c1d, #1c1f1e, #202120);
}
.playlisttitilediv{
    font-size: 30px;
    text-transform: capitalize;
    color: wheat;
    padding: 10px 20px;
}
.songitem{
    margin: 10px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-left: 50px;
    /* padding-top: 20px; */
    font-size: 25px;
}
.songitem img{
    height: 50px;
    object-fit: contain;
}
.songItemPlay{
    font-size: 30px;
}
footer{
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 200px;
    position: sticky;
    bottom: 0;
}
.footerleftdetails{
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
width: 300px;
}
.footerleftdetails img{
    height: 80px;
    object-fit: contain;
}
.footerleftdetails span{
    padding: 10px;
    font-size: 20px;
    color: white;
}
.footermainplayer{
    width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.mainplayerbtnsdiv{
    /* padding-top: 10px; */
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.mainplayerprogressdiv{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.mainplayerprogressdiv input{
    width: 500px;
    cursor: pointer;
}
.songitem:hover{
    box-shadow: rgba(143, 143, 145, 0.25) 0px 30px 60px -12px inset, rgba(178, 182, 184, 0.3) 0px 18px 36px -18px inset;
    

}